{% extends 'base.html' %}

{% block page_subtitle %}HR DASHBOARD{% endblock %}

{% block content %}
<div class="hr-dashboard">
<div class="dashboard-wrapper">

    <!-- HEADER -->
    <div class="dashboard-header mb-4">
        <div>
            <h2>Welcome back, {{ user.username }} </h2>
            <p class="text-dark">Role: <span>{{ user.role|upper }}</span></p>
        </div>
    </div>

    <div class="row">

        <!-- LEFT -->
        <div class="col-md-8">

            <!-- MAIN CARD -->
            <div class="highlight-card mb-4">
                <div>
                    <h6>Pending Requests</h6>
                    <h1>{{ pending_tickets }}</h1>
                    <p>Needs your attention</p>
                </div>
                <a href="{% url 'review_tickets' %}" class="btn btn-primary btn-sm">Review</a>
            </div>

            <!-- STATS -->
            <div class="stats-grid">

                <div class="stat-card">
                    <div class="icon-box">
                        <i class="bi bi-people-fill"></i>
                    </div>
                    <div>
                        <p>Employees</p>
                        <h4>{{ total_employees }}</h4>
                    </div>
                </div>

                <div class="stat-card">
                    <div class="icon-box">
                        <i class="bi bi-building"></i>
                    </div>
                    <div>
                        <p>Departments</p>
                        <h4>{{ total_departments }}</h4>
                    </div>
                </div>

                <div class="stat-card">
                    <div class="icon-box">
                        <i class="bi bi-calendar-check"></i>
                    </div>
                    <div>
                        <p>Pending Tickets</p>
                         <h4>{{ pending_tickets_count }}</h4>
                    </div>
                </div>

                <div class="stat-card">
                    <div class="icon-box">
                        <i class="bi bi-bell"></i>
                    </div>
                    <div>
                        <p>Notifications</p>
                        <h4>{{ unread_notifications.count }}</h4>
                    </div>
                </div>

            </div>

        </div>

        <!-- RIGHT -->
        <div class="col-md-4">

        

            <!-- NOTIFICATIONS -->
            <div class="card-box">
                <div class="d-flex justify-content-between mb-3">
                    <h6>Notifications</h6>
                    {% if unread_notifications %}
       <a href="{% url 'mark_all_read' %}" class="btn btn-sm btn-link text-decoration-none p-0 fw-bold" style="font-size: 0.75rem;">
    Mark all as read
</a>
    {% endif %}
                    <span class="badge bg-danger">{{ unread_notifications.count }}</span>
                </div>

                <div class="notification-list">

                    {% for n in unread_notifications %}
                    <div class="notification-item">

                        <div class="d-flex">
                            <div class="notif-icon">
                                <i class="bi bi-bell"></i>
                            </div>

                            <div class="flex-grow-1">
                                <p>{{ n.message }}</p>
                                <small>{{ n.created_at|timesince }} ago</small>
                            </div>

                        
                        </div>

                    </div>
                    {% empty %}
                    <p class="text-muted small">No new notifications</p>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

</div>
</div>
{% endblock %}