{% extends 'auth_base.html' %}

{% block content %}
<div class="auth-page">
    <div class="auth-card text-center">

        <h2 class="mb-4 text-success fw-bold">Sign Up</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3 text-start">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" class="form-control" required>
            </div>

            <div class="mb-3 text-start">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" class="form-control" required>
            </div>

            <div class="mb-3 text-start">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>

            <div class="mb-4 text-start">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <div class="mb-4 text-start">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" id="password2" class="form-control" required>
</div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-signup">
                    <i class="bi bi-person-plus-fill me-1"></i> Sign Up
                </button>
            </div>
        </form>

        <div class="text-center">
            <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
        </div>

    </div>
</div>
{% endblock %}